<br />
<br />
<br />
<div class="page-header text-center">
  <h1>List of Questions</h1>

  <p>
    <i>Questions not added are shown below.</i>
  </p>
  <a ui-sref="categoryDetail">
    <button type="button" class="btn btn-primary">Add</button>
  </a>
</div>


<div class="table-responsive">

    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th style="width: 20px">
            <input type="checkbox" ng-model="checkall" id="checkall" ng-click="clickCheckAll()">
          </th>
          <th>Text</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="question in questions">
          <td class="vert-align">
            <input type="checkbox" ng-model="question.selected" name="questions" id="{{question.id}}"/>
          </td>
          <td class="vert-align">{{question.text}}</td>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
      <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" ng-change="pageChanged()"></pagination>
    </div>
  </div>