<div class="page-header text-center">
  <h1>Available Exams</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th style="width: 80px;">Actions</th>
      </tr>
    </thead>
    <tbody data-link="row" class="rowlink">
      <tr ng-repeat="exam in availableExams">
        <td class="vert-align">
          <a ng-click="startExam(exam.id)">{{exam.name}}</a>
        </td>
        <td>
          <a ng-click="startExam(exam.id)">{{exam.description}}</a>
        </td>
        <td class="rowlink-skip text-center">
          <a class="btn" ng-click="startExam(exam.id)">
            <i class="glyphicon glyphicon-play-circle"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>